AccessModifierOffset: -1
AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 1000
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
BasedOnStyle: WebKit
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeParameters: false
ColumnLimit: 100
Cpp11BracedListStyle: true
IndentAccessModifiers: true
IndentWidth: 2
TabWidth: 2
UseTab: Never
